<html>
<body>
<form method="post" action="/solve">
<table>
<tr>
<td>
<input name="a1" type="text" size="1" >
</td>
<td>
<input name="a2" type="text" size="1" >
</td>
<td>
<input name="a3" type="text" size="1" >
</td>
<td>
<input name="b1" type="text" size="1" >
</td>
<td>
<input name="b2" value="5" type="text" size="1" >
</td>
<td>
<input name="b3" type="text" size="1" >
</td>
<td>
<input name="c1" type="text" size="1" >
</td>
<td>
<input name="c2" type="text" size="1" >
</td>
<td>
<input name="c3" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="a4" value="2" type="text" size="1" >
</td>
<td>
<input name="a5" value="5" type="text" size="1" >
</td>
<td>
<input name="a6" value="4" type="text" size="1" >
</td>
<td>
<input name="b4" type="text" size="1" >
</td>
<td>
<input name="b5" type="text" size="1" >
</td>
<td>
<input name="b6" type="text" size="1" >
</td>
<td>
<input name="c4" type="text" size="1" >
</td>
<td>
<input name="c5" type="text" size="1" >
</td>
<td>
<input name="c6" value="8" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="a7" type="text" size="1" >
</td>
<td>
<input name="a8" type="text" size="1" >
</td>
<td>
<input name="a9" value="6" type="text" size="1" >
</td>
<td>
<input name="b7" value="4" type="text" size="1" >
</td>
<td>
<input name="b8" type="text" size="1" >
</td>
<td>
<input name="b9" type="text" size="1" >
</td>
<td>
<input name="c7" value="3" type="text" size="1" >
</td>
<td>
<input name="c8" value="1" type="text" size="1" >
</td>
<td>
<input name="c9" value="5" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="d1" value="3" type="text" size="1" >
</td>
<td>
<input name="d2" value="9" type="text" size="1" >
</td>
<td>
<input name="d3" value="2" type="text" size="1" >
</td>
<td>
<input name="e1" type="text" size="1" >
</td>
<td>
<input name="e2" value="4" type="text" size="1" >
</td>
<td>
<input name="e3" value="7" type="text" size="1" >
</td>
<td>
<input name="f1" value="8" type="text" size="1" >
</td>
<td>
<input name="f2" type="text" size="1" >
</td>
<td>
<input name="f3" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="d4" type="text" size="1" >
</td>
<td>
<input name="d5" value="8" type="text" size="1" >
</td>
<td>
<input name="d6" type="text" size="1" >
</td>
<td>
<input name="e4" type="text" size="1" >
</td>
<td>
<input name="e5" value="6" type="text" size="1" >
</td>
<td>
<input name="e6" type="text" size="1" >
</td>
<td>
<input name="f4" type="text" size="1" >
</td>
<td>
<input name="f5" value="9" type="text" size="1" >
</td>
<td>
<input name="f6" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="d7" type="text" size="1" >
</td>
<td>
<input name="d8" type="text" size="1" >
</td>
<td>
<input name="d9" value="5" type="text" size="1" >
</td>
<td>
<input name="e7" value="3" type="text" size="1" >
</td>
<td>
<input name="e8" value="8" type="text" size="1" >
</td>
<td>
<input name="e9" type="text" size="1" >
</td>
<td>
<input name="f7" value="1" type="text" size="1" >
</td>
<td>
<input name="f8" value="4" type="text" size="1" >
</td>
<td>
<input name="f9" value="2" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="g1" value="6" type="text" size="1" >
</td>
<td>
<input name="g2" value="4" type="text" size="1" >
</td>
<td>
<input name="g3" value="7" type="text" size="1" >
</td>
<td>
<input name="h1" type="text" size="1" >
</td>
<td>
<input name="h2" type="text" size="1" >
</td>
<td>
<input name="h3" value="5" type="text" size="1" >
</td>
<td>
<input name="i1" value="2" type="text" size="1" >
</td>
<td>
<input name="i2" type="text" size="1" >
</td>
<td>
<input name="i3" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="g4" value="5" type="text" size="1" >
</td>
<td>
<input name="g5" type="text" size="1" >
</td>
<td>
<input name="g6" type="text" size="1" >
</td>
<td>
<input name="h4" type="text" size="1" >
</td>
<td>
<input name="h5" type="text" size="1" >
</td>
<td>
<input name="h6" type="text" size="1" >
</td>
<td>
<input name="i4" value="9" type="text" size="1" >
</td>
<td>
<input name="i5" value="6" type="text" size="1" >
</td>
<td>
<input name="i6" value="4" type="text" size="1" >
</td>
</tr>
<tr>
<td>
<input name="g7" type="text" size="1" >
</td>
<td>
<input name="g8" type="text" size="1" >
</td>
<td>
<input name="g9" type="text" size="1" >
</td>
<td>
<input name="h7" type="text" size="1" >
</td>
<td>
<input name="h8" value="3" type="text" size="1" >
</td>
<td>
<input name="h9" type="text" size="1" >
</td>
<td>
<input name="i7" type="text" size="1" >
</td>
<td>
<input name="i8" type="text" size="1" >
</td>
<td>
<input name="i9" type="text" size="1" >
</td>
</tr>
<input type="submit">

</form>
</body>
</html>
